*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
/* classi riutilizzabili */
.container{
  margin: auto;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clearfix:after{
  content: "";
  display: table;
  clear:both;
}
/* button */
.btn-coral{
  background-color: coral;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;;
}
.btn-coral-big{
  background-color: coral;
  border-radius: 5px;
  padding: 18px 8px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.btn-login{
  background-color: transparent;
  border: 1px solid coral;
  padding:  10px;
  border-radius: 5px;
  color:coral;
  text-decoration: none;
}
/* HEADER */
.container{
  height: 800px;
}
.container-nav{
  position: relative;
  height: 80px;
}
.fixed-nav{
  height: 80px;
  background-color: lightblue;
  border-bottom: 2px solid black;
  line-height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
.fixed-nav-left{
  width: 30%;
  padding-left: 100px;
}
.fixed-nav-right{
  width: 30%;
  text-align: right;
  padding-right: 100px;
}
.fixed-nav ul li{
  padding: 5px;
}
.fixed-nav .search{
  color: blue;
}
.normal-nav{
  position: absolute;
  top: 80px;
  height: 80px;
  width: 100%;
  background-color: white;
  line-height: 70px;
  z-index: 1;
}
.normal-nav-left .logo{
  padding-left:100px;
  padding-top: 23px;
}
.normal-nav-right{
  padding-right: 100px;
}
.normal-nav-right li{
  padding: 0 10px;
}
.jumbotron{
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #FFF4EE;
  background-image:url('../img/jumbotron.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: 130% 100%;
}
.jumbo-text{
  padding-left: 100px;
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
  color: black;
}
.jumbo-text h1{
  padding: 10px 0;
  font-size: 45px;
}
.jumbo-text h3{
  line-height: 1.6;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 35px;
}
.jumbo-text h5{
  margin-top: 35px;
  font-weight: 500;
}
.bordo{
  position: absolute;
  left: 0;
  bottom: 0.7px;
  left: 0;
  width: 100%;
  height: 70px;
  border-top: 3px solid #394C60;
  border-bottom: 3px solid #394C60;
  background-color: #AFEBE4;
  z-index: 0;
}
/* MAIN */
main{
  margin-top:  160px ;
  height: 2000px;
  width: 100%;
  background-color: #CAFDFF;
}
/* CUBO */
.cubo{
  height: 900px;
  position: relative;
  background-color: #CAFDFF
}
.cubo .cubo-up{
  text-align: center;
  position: absolute;
  top: 0 ;
  left: 50%;
  transform: translateX(-50%);
}
.cubo-up h2{
  padding: 20px;
}
.cubo-up h5{
  line-height: 1.6;
}
.cubo .cubo-bottom{
  position: absolute;
  width: 70%;
  height: 340px;
  background-color: pink;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.2)
}
.cubo-bottom-left{
  height: 100%;
  width: 30%;
  background-color: white;
}
.cubo-bottom-left .book{
  width: 60%;
  margin: 60px auto;
  line-height: 3;
  text-align: center;
}
.cubo-bottom-right{
  height: 100%;
  width: 70%;
  background-color: white;
  padding: 50px;
}
.cubo-bottom-right h2{
  line-height: 3;
}
.cubo-bottom-right h3{
  text-transform: uppercase;
  line-height: 4;
  padding-right: 30px;
}
.cubo-bottom-right h3::after{
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 60%;
}

.cubo-bottom-right p{
  line-height: 1.6;
}
.cubo-bottom-right li{
  display: inline;
  color: coral;
  padding-right: 20px;
  line-height: 3;
}
