*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
ul{
  list-style: none;
}
li{
  display: inline-block;
}
/* classi riutilizzabili */
.container{
  margin: auto;
}
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.clearfix:after{
  content: "";
  display: table;
  clear:both;
}
/* button */
.btn {
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px;
}
.btn-coral{
  background-color: coral;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-decoration: none;;
}
.btn-coral-big{
  background-color: coral;
  padding: 15px;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.btn-login{
  background-color: transparent;
  border: 1px solid coral;
  padding:  10px;
  border: 1px solid coral;
  border-radius: 5px;
  color:coral;
  text-decoration: none;
}
/* HEADER */
.container{
  height: 800px;
  background-color: pink;
}
.container-nav{
  height: 100%;
}
.fixed-nav{
  height: 10%;
  background-color: lightblue;
  border-bottom: 2px solid black;
  line-height: 70px;
}
.fixed-nav-left{
  padding-left: 100px;
}
.fixed-nav-right{
  padding-right: 100px;
}
.fixed-nav ul li{
  padding: 5px;
}
.fixed-nav .search{
  color: blue;
}
.normal-nav{
  height: 10%;
  background-color: white;
}
main{
  height: 2000px;
  background-color: red;
}
